<h1>Movies</h1>
<ul>
    <% movies.forEach(function(movie){ %>
    <li> <%= movie.title %></li>
    <% }) %>
</ul>

<form method="get" action="/aktorzy">
    <input type="submit" value="Submit">
</form>
<form method="post" action="/movie/add">
    <label> Add movie</label>
    <br>
    <input type="text" name="movie_name">
    <br>
    <label>Year<label><br>
       <input type="text" name="movie_year">
       <br><br>
       <input type="submit" vaue="Submit">
</form>
<form method="post" action="/movie/delete">
       <input type="submit" value="Usun Star warsy">
</form>

