<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public1/CSS/style.css">
    <title>Login</title>
 </head>
 <ul>
   <% users.forEach(function(user){ %>
   <li><%= user.login %> </li>
   <li><%= user.password %> </li>
  <% }) %>  
</ul>
   <center>
  <h1>Login</h1>
<form method="post" action="/login/verify">
    <label>Login</label>
    <br>
    <input type="text" name="login">
    <br>
    <label>Password<label><br>
       <input type="password" name="password">
    <br>
    <input type="submit" value="Login">
</form>