
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public1/CSS/style.css">
    <title>Main Menu</title>
  </head>
   <center>
  <h1>Main Menu</h1>

<form method="get" action="/login">
    <input type="submit" value="Login">
</form>
<form method="get" action="/registration">
    <input type="submit" value="Registration">
</form>
   </center>



